@model IEnumerable<VideoLibraryV1.Models.Loan>

@{
    ViewBag.Title = "FilterByLastLoaned";
}

<h2>FilterByLastLoaned</h2>

<form action="/Report/FilterByLastLoaned" method="get">
    @Html.DropDownList("LastName", new SelectList(ViewBag.LastName, "LastName", "LastName"), null, null)
    <button type="submit">Submit</button>
</form>

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberDetails.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDDetails.DVDName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberDetails.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DVDDetails.DVDName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DVDDetails.ReleasedDate)
                </td>


            </tr>
        }

    </table>
}
