@model IEnumerable<VideoLibraryV1.Models.Loan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DVDDetails.DVDName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanTypes.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberDetails.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FineAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DVDDetails.DVDName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanTypes.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberDetails.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FineAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
